[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
torch = "*"
torchvision = "*"
gdown = "*"
pandas = "*"
joblib = "*"
scikit-learn = "*"
reportlab = "*"
opencv-python = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.12"
