@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    /* background-color: white; */
    margin: 0;
    padding: 0;
}

.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFEEF0;
}

.logo-container{
    padding: 20px;
}

.btn{
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
}

.btn-download{
    padding: 10px 20px;
    background-color: #FF4C6A;
    color: white;
    border: none;
    cursor: pointer;
}

.logo-container img{
    max-height: 50px;
}


.results-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFEEF0;
    height: min(80vh, 800px);
}

.left-side{
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding-inline: 20px;
    margin-inline: auto;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid #B3B3B3;
    margin-bottom: 20px;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    padding: 10px;
    position: relative;
    background-color: transparent;
    border: none;
}

.nav-link.active{
    color: #94126A;
}

.nav-link.active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 6px;
    background-color: #94126A;
    border-radius: 10px 10px 0 0;
}

.results-diagnosis{
    display: flex;
    gap: 1rem;
    justify-content: space-around;
}

.results-probability{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-track{
    height: 10px;
    width: 80%;
    margin-inline: auto;
    background-color: #fff;
    border-radius: 10px;
}

.progress-thumb{
    height: 10px;
    background-color: #FF4C6A;
    border-radius: 10px;
}

.mass-attributes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block: 20px;
}

.mass-attributes li{
    margin: 8px;
    font-size: 1.25rem;
}

.upload-button{
    padding: 10px 20px;
    background-color: #FF4C6A;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.model-results p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.diagnosis{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    font-size: 28px;

}

.model-title{
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight:600;
    margin: 30px 0 30px 0;
}

.image{
    width: 40%;
}

.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.details{
    flex: 1;
    margin-right: 20px;
}

.details h1{
    color: black;
}

.details p.diagnosis{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0;
}

.diagnosis{
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: black;
}

.metrics, .num-metrics{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-bottom: 10px;
}

.metrics li{
    font-size: 18px;
    font-weight: light;
}

.num-metrics li{
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0px;

}

.metrics li, .num-metrics li{
    flex: 1;
}

table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;

}

tbody tr{
    border: 2px solid #B3B3B3;
    padding: 10px;
}

td th{
    font-size: 22px;
    border: 2px solid #B3B3B3;
    border-radius: 20px;
}
 
th{
    font-size: 25px;
    padding: 15px;
    font-weight: 800;

}

td{
    font-size: 22px;
    padding: 15px;
    font-weight: 500;

}

.no-border-top {
    border-top: none;
}

.no-border-bottom {
    border-bottom: none;
}

footer {
    background-color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}