@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: white;
    margin: 0;
    padding: 0;

}

.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /* gap: 36px; */
    background-color: #FFEEF0;
}

.logo-container{
    padding: 20px;
}

.btn{
    padding: 20px;
}

.btn-download{
    padding: 10px 20px;
    background-color: #FF4C6A;
    color: white;
    border: none;
    cursor: pointer;
}

.logo-container img{
    max-height: 50px;
}


.results-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #FFEEF0;
}

.left-side{
    display: flex;
    flex-direction: column;
    flex: 2;
    width: 70%;
    margin-right: 40px;
}

.nav-links{
    display: flex;
    justify-content: flex-start;
    gap: 40px;
    border-bottom: 2px solid #B3B3B3;
    margin-bottom: 20px;
    width: 67.5%;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding: 10px;
    position: relative;
}

.nav-link.active{
    color: #94126A;
}

.nav-link.active::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #94126A;
}

.model-results{
    width: 70%;
}

.model-results p{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
}

.details{
    flex: 1;
    margin-right: 20px;
}

.details h1{
    color: black;
}

.details p.diagnosis{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding: 0;
}

.diagnosis{
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
}

ul li{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: black;
}

.metrics, .num-metrics{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.metrics li{
    font-size: 18px;
    font-weight: light;
}

.num-metrics li{
    font-size: 1rem;
    font-weight: bold;
}

.metrics li, .num-metrics li{
    flex: 1;
    text-align: center;
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: center;
    padding: 10px;
    border: 1px solid #B3B3B3;
    border-radius: 10px;
}

th td{
    border-left: none;
    border-right: none;
    padding: 10px;
}

tr{
    border-bottom: 1px solid #B3B3B3;
}

table th{
    font-weight: bold;
}

.image img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    background-color: white;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}