@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #FFEEF0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container{
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-container img{
    height: 60px;
    width: auto;
}

.right-header{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 20px;
    padding: 20px;
}

.right-header a{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.login a {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
}

.btn-login i {
    margin-right: 8px;
    color: #FF4C6A;
}

.btn-reports{
    padding: 10px 20px;
    background-color: #FF4C6A;
    color: white;
    border: none;
    cursor: pointer;
}

.upload-container{
    align-self: center;
    text-align: center;
    padding: 20px;
}

.upload-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: black;
    margin-bottom: 12px;
}

.upload-title span{
    color: #94126A;
    text-underline-position: below;
}

.upload-title p{
    max-width: 60ch;
    word-spacing: 5px;
    font-size: 24px;
    font-weight: 600;
}

.patient-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

.patient{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.patient-details label{
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 10px;
    color: black;
    width: 30%;
    padding-left: 20px;
}

.patient-details input{
    width: 70%;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    margin-bottom: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: 0.3s;
}

.patient-details input:focus{
    border-color: #FF4C6A;
    box-shadow: 0 0 5px rgba(255, 89, 143, 0.5);
}

.drag-zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
    width: 600px;
    padding: 25px;
    background-color: #f0e4e4;
    border: 5px dashed #B3B3B3;
    border-radius: 40px;
}

.drag-zone--over{
    border-style: solid;
}

.drag-zone__input{
    display: none;
}

.drag-zone__thumb{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.upload-icon img{
    width: 120px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    max-width: 15ch;
    font-weight: 800px;
    line-height: 1.6;
    color: #383838;
}

.highlight{
    color: #94126A;
    font-weight: bold;
}

.browse{
    color: #94126A;
    cursor: pointer;
}

button{
    font-family: 'Open Sans', sans-serif;
    background-color: #FF4C6A;
    color: white;
    padding: 10px 20px;
    border: none;
    width: 200px;
    cursor: pointer;
    font-size: 14px;
}

.form-preview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 36px;
    width: 600px;
    padding: 25px;
}

.mammogram-image{
    align-self: center;
    width: min(70%, 20rem);
    aspect-ratio: 1;
}

#change-image{
    background-color: transparent;
    color: #94126A;
    align-self: center;
}

.form-group{
    text-align: left;
    gap: 24px;
}

.form-group label{
    font-family: 'Open Sans', sans-serif;
    display: block;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 5px;
    color: black;
    margin-bottom: 5px;
}

select{
    padding: 0.7rem;
    font-size: 1rem;
    width: 100%;
    appearance: none;
    background: url('../images/drop-down-icon.webp') no-repeat right 0.7rem center;
    background-size: 1rem;
    border: 1px solid #ccc;
    box-sizing: border-box;
    
}

select::-ms-expand{
    display: none;
}

select:focus{
    border-color: #ffccdd;
    outline: none;
}