<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Invalid Verification Link</title>
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <div class="logo-container">
                <img src="{% static 'images/nina-logo.png' %}" alt="logo">
            </div>
            <h1>Invalid Verification Link</h1>
            <p>Please request a new link</p>
            <button class="login-btn">
                <a style="text-decoration: none; color: white;" href="{% url 'resend_verification_email' %}">Request New link</a> 
            </button>  
        </div>
    </div>
</body>
</html>