<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>
<body>
    <h1>Classify Image Using Automaitc Breast Mass Detector in Seconds</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed viverra nibh.
         Nunc auctor mollis tincidunt. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
         per inceptos himenaeos. Integer at erat est. Etiam id felis eget quam pulvinar semper. 
         Curabitur vitae gravida orci. Proin semper lectus ac enim sodales volutpat.</h2>
    <button>Upload Image</button>
    <button>Request Demo</button>
    <img src="#" alt="">
    <h2>Or choose from the images below:</h2>
    <div class="images">
        <img src="#" alt="">
        <img src="#" alt="">
        <img src="#" alt="">
        <img src="#" alt="">
        <img src="#" alt="">
        <img src="#" alt="">
    </div>
</body>
</html>