<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <div class="logo-container">
                <img src="{% static 'images/nina-logo.png'%}" alt="logo">
            </div>
                <h1>Sign In</h1>
                <p>Enter your email and password to sign in</p>
                {% if messages %}
                    <div class="error-messages">
                        {% for message in messages %}
                                <p class="error">{{message}}</p>
                            {% endfor %}
                    </div>
                        {% endif %}
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">username</label>
                        <input type="username" name="username" id="username" required
                        class="{% if form.username.errors %}error{% endif %}"
                        value="{{ form.username.value|default_if_none:'' }}">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" placeholder="*********" required
                        class="{% if form.password.errors %}error{% endif %}">
                    <a class="forgot-pass" href="{% url 'password_reset' %}">Forgot Password?</a>
            
                <button class="login-btn">Sign In</button>
            </form>
            <div class="footer-text">
                <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
            </div>
        </div>
    </div>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        setTimeout(() => {
            document.querySelector('.error-messages').style.display = 'none';
        }, 5000);
    });
</script>
</html>