<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset Sent</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
                <h1>Password Reset Sent</h1>
                <p>We have sent you an email with instructions on how to reset your password</p>
                <a href="{% url 'login' %}" class="login-btn">Back to Login</a>
        </div>
    </div>
</body>
</html>