<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
</head>
<body>
    <div class="login-container">
        <div class="login-card">
            <div class="logo-container">
                <img src="{% static 'images/nina-logo.png'%}" alt="logo">
            </div>
                <h1>Password Reset</h1>
                <p>Enter your email to reset your password</p>
                <form action="{% url 'password_reset' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" required>
                        {% for error in form.email.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    </div>
                    <button class="login-btn">Reset Password</button>
                </form>
            </div>
        </div>
    </div>  
</body>
</html>