<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css'%}">
</head>
<body>
    <div class="register-container">
        <div class="register-card">
            <div class="logo-container">
                <img src="{% static 'images/nina-logo.png'%}" alt="logo">
            </div>
        <h1>Register</h1>
        <p>Enter your email and password to register</p>

        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your full name" required>
            </div>
            
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="example@gmail.com" required>
            </div>
            
            <div class="form-group">
                <label for="organization">Organization</label>
                <input type="text" name="organization" id="organization" placeholder="Enter your organization name" required>
            </div>
            
            <div class="password-group">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="********" required>
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="*********" required>
                </div>
            </div>
            <button type="submit" class="register-btn">Register</button>
        </form>
        <p class="footer-text">
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </p>
        </div>
    </div>
    
</body>
</html>